@model WycieczkiIO.Models.Transport

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresPoczatek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresPoczatek.KodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresKoniec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresKoniec.KodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RodzajTransportu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RodzajTransportu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
