@model WycieczkiIO.Models.Adres

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miasto.NazwaMiasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kraj.NazwaKraju)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AdresId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
