@model IEnumerable<WycieczkiIO.Models.Wycieczka>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw("Miejsce docelowe")
            </th>
            <th>
                @Html.Raw("Data rozpoczęcia")
            </th>
            <th>
                @Html.Raw("Data zakończenia")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td id="@item.MiejsceDocelowe">
                @Html.DisplayFor(modelItem => item.MiejsceDocelowe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRozpoczecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZakonczenia)
            </td>
            <td id="@item.MiejsceDocelowe">
                <a id="@item.MiejsceDocelowe" class="Edit" asp-action="Edit" asp-route-id="@item.WycieczkaId">Edit</a> |
                <a id="@item.MiejsceDocelowe" class="Details" asp-action="Details" asp-route-id="@item.WycieczkaId">Details</a> |
                <a id="@item.MiejsceDocelowe" class="Delete" asp-action="Delete" asp-route-id="@item.WycieczkaId">Delete</a> |
                <a id="@item.MiejsceDocelowe" class="AddPerson" asp-action="AddPerson" asp-route-id="@item.WycieczkaId">Dodaj uczestnika</a> |
                <a id="@item.MiejsceDocelowe" class="DeletePerson" asp-action="DeletePerson" asp-route-id="@item.WycieczkaId">Usuń uczestnika</a> |
                <a id="@item.MiejsceDocelowe" class="AddAccommodation" asp-action="AddAccommodation" asp-route-id="@item.WycieczkaId">Dodaj/Edytuj zakwaterowanie</a> |
                <a id="@item.MiejsceDocelowe" class="DeleteAccommodation" asp-action="DeleteAccommodation" asp-route-id="@item.WycieczkaId">Usuń zakwaterowanie</a>

            </td>
        </tr>
}
    </tbody>
</table>
